<% if current_user %>
  <%= react_component("TopHeader", {header: "Home"}) %>
  <%= react_component("tweets/NewTweet", {rows: 1}) %>
  <div id="divider"></div>
  <%= react_component("PostList", {posts: @posts}) %>
<% end %>
