/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(21, 32, 43);
  color: #ffffff;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 15px;
}

.font-secondary {
  color: rgb(136, 153, 166);
  fill: rgb(136, 153, 166);
}

.tweet-header {
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.username {
  font-weight: 700;
}

.username:hover {
  text-decoration: underline;
}

.tweet-options {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding: 8px 0;
}

#modal {
  display: none;
  position: absolute;
  background: rgb(21, 32, 43);
  max-width: 80vw;
  max-height: 90vw;
  min-width: 600px;
  min-height: 100px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
}

.option-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.tweet-options-svg {
  width: 18.75px;
  height: 18.75px;
}

.option-count {
  font-size: 13px;
  line-height: 13px;
  padding: 1px 10px;
}

.liked-color {
  fill: rgb(224, 36, 94);
  color: rgb(224, 36, 94);
}

.retweeted-color {
  fill: rgb(23, 191, 99);
  color: rgb(23, 191, 99);
}

#container {
  display: flex;
  justify-content: space-between;
}

#nav-container {
  display: flex;
  justify-content: right;
  flex: 1;
  padding: 30px;
}

nav {
  position: fixed;
}

#main-container {
  flex: 4;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.status {
  display: flex;
  flex-direction: column;
}

.status-header {
  display: flex;
  align-items: center;
}

.status-tweeter {
  flex: 8;
}

.status-content {
  font-size: 23px;
  line-height: 1.35em;
  padding-top: 10px;
}

.status-updated-at {
  padding: 12px 0;
}

.status-stats {
  display: flex;
  border-top: 1px solid rgba(136, 153, 166, 0.25);
  border-bottom: 1px solid rgba(136, 153, 166, 0.25);
  padding: 12px 4px;
}

.status-stats > * {
  margin-right: 16px;
}

.status-options {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  cursor: pointer;
}

.status-options > .option-container {
  justify-content: center;
}

.status-options > .option-container > .tweet-options-svg {
  height: 1.5em;
  width: 1.5em;
}

.avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  vertical-align: top;
  flex-shrink: 0;
  padding: 4px 0;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.reply-connector {
  background-image: linear-gradient(
    rgba(136, 153, 166, 0.4),
    rgba(136, 153, 166, 0.4)
  );
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 10px;
}

#tweets {
  flex: 5;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(136, 153, 166, 0.25);
  border-right: 1px solid rgba(136, 153, 166, 0.25);
  border-bottom: 1px solid rgba(136, 153, 166, 0.25);
}

.quoted {
  border: 1px solid rgba(136, 153, 166, 0.25);
  padding: 8px;
  margin-left: 40px;
  border-radius: 15px;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post-border {
  border-top: 1px solid rgba(136, 153, 166, 0.25);
  padding-top: 5px;
}

.tweet-container {
  display: flex;
  cursor: pointer;
}

.tweet-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 8;
}

.tweet {
  display: flex;
}

.action-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  padding: 2px 0;
}

.header-svg {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-svg > span {
  width: 49px; /* same as avatar width */
  display: flex;
  justify-content: flex-end;
}

.header-message {
  flex: 8;
}

.reply-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.reply-container > .tweet-options {
  margin-bottom: 6px;
}

#search-container {
  flex: 3;
  padding: 30px;
}
