/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body,
ul {
  padding: 0;
  margin: 0;
  background: rgb(21, 32, 43);
  color: #ffffff;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 15px;
}

.font-secondary {
  color: rgb(136, 153, 166);
}

.tweet-header {
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.username {
  font-weight: 700;
}

.username:hover {
  text-decoration: underline;
}

.tweet-options {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.tweet-options > * {
  width: 40px;
  display: flex;
  justify-content: center;
}

.tweet-options > li > * {
  display: block;
  width: 100%;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-between;
}

#nav-container {
  display: flex;
  justify-content: right;
  flex: 2;
  padding: 30px;
}

nav {
  position: fixed;
}

#main-container {
  flex: 4;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 10px;
  flex-shrink: 0;
}

#tweets {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(136, 153, 166, 0.25);
  border-right: 1px solid rgba(136, 153, 166, 0.25);
}

#tweets > * {
  border-bottom: 1px solid rgba(136, 153, 166, 0.25);
  padding: 5px 8px;
}

.quoted {
  border: 1px solid rgba(136, 153, 166, 0.25);
  padding: 8px;
  margin-left: 40px;
  border-radius: 15px;
}

.tweet-container {
  display: flex;
}

.tweet {
  display: flex;
}

.reply-container {
  display: flex;
}

.reply-avatars {
  display: flex;
  flex-direction: column;
}

.replies {
  display: flex;
  flex-direction: column;
}

.feed-tweet {
  display: flex;
  flex-direction: column;
}

#search-container {
  flex: 4;
  padding: 30px;
}

#search {
  position: fixed;
}
