// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#birthday-disclaimer {
    font-size: .8em;
}

#date-select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60px;
    width: 20%;
}

.flex-break {
    flex-basis: 100%;
    width: 0;
}
