$main-text-color: rgb(217, 217, 217);
$secondary-text-color: rgb(136, 153, 166);
$main-background-color: rgb(0, 0, 0);
$outside-modal-background-color: rgba(110, 118, 125, 0.4);
$main-blue: rgb(29, 161, 242);
