<h3> You might like </h3>
<div id="who-to-follow"
    <% User.followable_users(current_user).order('RANDOM()').limit(3).each do |u| %>
        <p><%= u.username %> <span><%= button_to "Follow", controller: "follows", action: "create", followed_user_id: u.id, method: "post" %></span></p>
<p>@<%= u.handle %></p>
<% end %>
</div>
<br>
